{% assign author = site.data.author[page.author] %}

{% if author %}
<div class="blogpost-author pv2 pv3-m ph3 ph4-m">
  <div class="o-grid o-grid--middle">
    <figure class="o-grid__item mb2 ma0-m w-60 w-20-m">
      <img class="br-100" src="{{ author.profileImage }}" alt="Profilbild von {{ author.name }}">
    </figure>
    <div class="o-grid__item w-100 w-80-m">
      <h3 class="mb1 f3 lh-title">{{ author.name }}</h3>
      <p class="mb1 f6">{{ author.bio }}</p>
      <a class="mr1 f6" href="mailto:{{ author.mail }}" title="Mail von {{ author.name }}">Mail</a>
      <a class="f6" href="https://twitter.com/{{ author.twitter }}" title="Twitter von {{ author.name }}">Twitter</a>
    </div>
  </div>
</div>
{% endif %}