<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<title>{% if page.metatitle %}{{ page.metatitle | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.metadescription %}{{ page.metadescription }}{% else %}{{ site.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Open Graph -->
	<meta content="{{ site.title }}" property="og:site_name">
	{% if page.title %}
		<meta content="{{ page.title }}" property="og:title">
	{% else %}
		<meta content="{{ site.title }}" property="og:title">
	{% endif %}
	
	{% if page.title %}
		<meta content="article" property="og:type">
	{% else %}
		<meta content="website" property="og:type">
	{% endif %}
	
	{% if page.description %}
		<meta content="{{ page.description }}" property="og:description">
	{% else %}
		<meta content="{{ site.description }}" property="og:description">
	{% endif %}
	
	{% if page.permalink %}
		<meta content="{{ site.url }}{{ page.permalink }}" property="og:url">
	{% endif %}
	
	{% if page.date %}
		<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
	{% endif %}
	
	<meta content="/uploads/sparv-icon.png" property="og:image">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/uploads/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/uploads/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/uploads/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/uploads/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/uploads/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/uploads/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/uploads/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/uploads/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/uploads/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/uploads/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/uploads/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/uploads/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/uploads/favicons/favicon-16x16.png">
	<link rel="manifest" href="/uploads/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/uploads/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Stylesheet -->
	<link rel="stylesheet" href="{{ "/css" | prepend: site.baseurl }}/main.css">
</head>