/*------------------------------------------------------------------
||  Shame
-------------------------------------------------------------------*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, #{$spacing-extra-large}, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.animated {
  animation-duration: 0.96s;
  animation-fill-mode: both;
}

.fadeInUp {
  animation-name: fadeInUp;
}