/*------------------------------------------------------------------
||  Footer
-------------------------------------------------------------------*/
.body-post .site-footer {
  background-color: $white;
}

.site-footer-content {
  color: $darkest-gray;
  border-top: 1px solid $light-gray;
  
  a {
    color: $darkest-gray;
    &:hover {
      color: $darkest-gray;
      text-decoration: underline;
    }
    &:after {
      content: none;
    }
  }
}