/*------------------------------------------------------------------
||  Header
-------------------------------------------------------------------*/
.site-header--post {
  border-bottom: 2px solid $light-gray;
}

.site-title {
  a {
    color: $dark;
    text-decoration: none;
    &:after {
      content: none;
    }
    
    &:hover, &:focus {
      color: $dark-gray;
    }
  }
}