/*------------------------------------------------------------------
||  Blog - Blogroll
-------------------------------------------------------------------*/
.blogpost-title__link {
  color: $dark;
  text-decoration: none;
  &:after {
    content: none;
  }
  
  &:hover, &:focus {
    color: $darkest-gray;
  }
}

.blogpost-date {
  color: $dark-gray; 
}

.blogpost__read-more {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  color: $brand-color;
  text-transform: uppercase;
  text-decoration: none;

  &:after {
    content: "";
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: $brand-color;
    transition: all .24s $basic-transition;
  }

  &:hover, &:focus {
    color: darken($brand-color, 8%);
    &:after {
      opacity: 1;
      transform: translateY(2px);
      background: darken($brand-color, 8%);
    }
  }

}

.blogpost {
  h2 {
    font-size: $font-size-display-2;
  }

  h3 {
    font-size: $font-size-display-3;
  }
  
  .highlight {
    padding: $spacing-medium;
    background: $lightest-gray;
    box-shadow: $default-shadow;
    border-radius: $border-radius;
    border: 2px solid $light-gray;
    pre {
      margin: 0;
    }
  }
  
  blockquote {
    padding: $spacing-medium;
    color: $darkest-gray;
    border-left: 4px solid $brand-color;
    box-shadow: $default-shadow;
    border-radius: $border-radius;
    background: $lightest-gray;
    p {
      margin: 0;
    }
  }
}

.blogpost-author {
  background-color: $lightest-gray;
  border: 2px solid $light-gray;
  border-radius: $border-radius;
  p {
    color: $darkest-gray;
  }
}

.sprint-review__item {
  position: relative;
  background-color: $lightest-gray;
  border: 2px solid $light-gray;
  border-radius: $border-radius;
  h3 {
    font-size: $font-size-body;
  }
}

.sprint-review__item--success {
  background-color: lighten($brand-color, 52%);
  border-color: $brand-color;
}

.sprint-review__item--fail {
  background-color: #FCD0D8;
  border-color: #F03D5D;
}