/*------------------------------------------------------------------
||  Basics
-------------------------------------------------------------------*/
$spacing-none: 0;
$spacing-extra-small: 8px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 48px;
$spacing-extra-large: 72px;
$spacing-extra-extra-large: 96px;
$spacing-extra-extra-extra-large: 128px;

$border-radius: 4px;

/*------------------------------------------------------------------
||  Color
-------------------------------------------------------------------*/
$dark: #1C1C1C;
$white: #FFFFFF;
$brand-color: #2DB27D;

$lightest-gray: #F5F7F9;
$light-gray: #E1E3E5;
$middle-gray: #A3A5A7;
$dark-gray: #3D3F41;

$basic-transition: cubic-bezier(.8,.56,.56,1.04);

$default-shadow: 0 $spacing-extra-small $spacing-small -#{$spacing-extra-small} rgba(0, 0, 0, .12);
$big-shadow: 0 $spacing-small $spacing-large -#{$spacing-small} rgba(0, 0, 0, .16);

/*------------------------------------------------------------------
||  Typography
-------------------------------------------------------------------*/
$basic-font: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;

$font-size-display-1: 3rem !default;
$font-size-display-2: 2.375rem !default;
$font-size-display-3: 1.5rem !default;
$font-size-header:    1.25rem !default;
$font-size-body:      1rem !default;
$font-size-caption:   0.875rem !default;
$font-size-small:     0.75rem !default;

/*------------------------------------------------------------------
||  Media Queries
-------------------------------------------------------------------*/
$baby-bear: 40rem;
$teen-bear: 60rem;
$mama-bear: 70rem;
$papa-bear: 80rem;


$breakpoint-not-small: 'screen and (min-width: 40rem)' !default;
$breakpoint-medium: 'screen and (min-width: 50rem)' !default;
$breakpoint-large: 'screen and (min-width: 65rem)' !default;