/*------------------------------------------------------------------
||  Tachyons - Spacing
-------------------------------------------------------------------*/
$spacing-none: 0;
$spacing-extra-small: 8px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 48rem;
$spacing-extra-large: 72rem;
$spacing-extra-extra-large: 96rem;
$spacing-extra-extra-extra-large: 128px;