/*------------------------------------------------------------------
||  Footer
-------------------------------------------------------------------*/
.site-footer {
  background: $dark;
  a:after {
    content: none;
  }
}